<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormName</key>
	<string>我的自定义表单</string>
	<key>ColumnList</key>
	<array>
		<dict>
			<key>name</key>
			<string>创建日期时间</string>
			<key>index</key>
			<integer>10</integer>
			<key>available</key>
			<true/>
			<key>key</key>
			<string>create_date</string>
		</dict>
		<dict>
			<key>name</key>
			<string>字段1</string>
			<key>index</key>
			<integer>1</integer>
			<key>available</key>
			<true/>
			<key>key</key>
			<string>item1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>字段2</string>
			<key>index</key>
			<integer>2</integer>
			<key>available</key>
			<true/>
			<key>key</key>
			<string>item2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>字段3</string>
			<key>index</key>
			<integer>3</integer>
			<key>available</key>
			<true/>
			<key>key</key>
			<string>item3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>字段4</string>
			<key>index</key>
			<integer>4</integer>
			<key>available</key>
			<true/>
			<key>key</key>
			<string>item4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>字段5</string>
			<key>index</key>
			<integer>5</integer>
			<key>available</key>
			<true/>
			<key>key</key>
			<string>item5</string>
		</dict>
	</array>
</dict>
</plist>
